<section class="b-section @@class" id="@@class">
	<div class="container">
		<div class="row no-gutters align-items-stretch @@if (even === true) { even } @@if (even === false) { odd }">
			<div class="col-7">
				<div class="b-section__content">
					<h3 class="b-section__title">@@title</h3>
					<h4 class="b-section__subtitle">@@subtitle</h4>
					<div class="b-section__text">
						@@for (var i = 0; i < text.length; i++) {
						  <p>`+text[i]+`</p>
						}
					</div>
					<a href="contact.html" class="b-section__link">Contacta</a>
				</div>
			</div>
			<div class="col-5">
				<div class="b-section__icon d-flex justify-content-center">
					<svg class="icon align-self-center" role="presentation"><use xlink:href="svg/symbol/svg/sprite.symbol.svg#@@icon"></use></svg>
				</div>
			</div>
		</div>
	</div>
</section>
