.b-about {
	background-color: $color-white;
	padding: 45px;

	@media(max-width: $screen-xs-max){
		padding: 45px 0;
	}

	&__title {
		font-family: $font-family-title;
		font-size: 6rem;
		font-weight: 900;
		color: $color-black;
		text-align: center;

		padding: 40px 0;
		margin-right: 0;

		@media(max-width: $screen-xs-max){
			font-size: 4.5rem;
		}
	}
	&__parr {
		font-family: $font-family-base;
		font-size: 1.6rem; line-height: 2.1rem;
		color: $color-black;
		font-weight: 400;
		text-align: center;

		margin: 0;
		padding-bottom: 10px;
	}
}
