.b-cookies {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: rgba($color-white, 0.9);
  box-shadow: 0 -2px 4px rgba($color-black, 0.1);
  z-index: 99;

  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 15px;
    display: block;
    height: 16px;
    width: 16px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: $color-black;
    border: 1px solid $color-black;
    border-radius: 50%;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;

    a {
      color: $color-black;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
#cookiesModal {
  .modal-content {
    border: none;
    border-radius: 1px;
  }
  .modal-header {
    .modal-title {
      font-family: $font-family-title;
      font-size: 2.5rem;
      line-height: 3rem;
      color: $color-black;
      font-weight: 400;
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      height: 16px;
      width: 16px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: $color-black;
      border: 1px solid $color-black;
      border-radius: 50%;
      cursor: pointer;
      padding-left: 1px;
    }
  }
  .modal-body {
    p,
    ul li {
      font-family: $font-family-base;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: $color-black;
      font-weight: 400;

      &.title {
        padding-top: 20px;
        font-family: $font-family-title;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    a {
      color: $color-primary;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-out 0s;

      &:hover {
        text-decoration: none;
        border-bottom-color: $color-primary
      }
    }
  }
}
.modal-backdrop.fade.show {
  opacity: 0.5;
}
