.b-contact {
	padding: 45px 0 75px 0;

	&__title {
		font-family: "PaytoneOne";
    font-size: 6rem;
    font-weight: 900;
    color: #202020;
    text-align: center;
		text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0;

		@media(max-width: $screen-xs-max){
			font-size: 4.5rem;
		}
	}

	.fade-in-submit {
		display: block;
		font-size: 1.4rem;
		line-height: 2.2rem;
		font-weight: 400;
	}
}

#privacyModal {
  .modal-content {
    border: none;
    border-radius: 1px;
  }
  .modal-header {
    .modal-title {
      font-family: $font-family-title;
      font-size: 2.5rem;
      line-height: 3rem;
      color: $color-black;
      font-weight: 400;
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      height: 16px;
      width: 16px;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: $color-black;
      border: 1px solid $color-black;
      border-radius: 50%;
      cursor: pointer;
      padding-left: 1px;
    }
  }
  .modal-body {
    p,
    ul li {
      font-family: $font-family-base;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: $color-black;
      font-weight: 400;

      &.title {
        padding-top: 20px;
        font-family: $font-family-title;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    a {
      color: $color-primary;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-out 0s;

      &:hover {
        text-decoration: none;
        border-bottom-color: $color-primary
      }
    }
  }
}
.modal-backdrop.fade.show {
  opacity: 0.5;
}
