.b-contact {
	padding: 0 0 75px 0;

	&__title {
		font-family: "PaytoneOne";
    font-size: 6rem;
    font-weight: 900;
    color: #202020;
    text-align: center;
		text-transform: uppercase;
    padding-bottom: 40px;
    margin: 0;

		@media(max-width: $screen-xs-max){
			font-size: 4.5rem;
		}
	}
  &__parr {
    font-family: $font-family-base;
    font-size: 1.6rem; line-height: 2.1rem;
    color: $color-black;
    font-weight: 400;
    text-align: center;

    margin: 0;
    padding-bottom: 10px;
  }

	.fade-in-submit {
		display: block;
		font-size: 1.4rem;
		line-height: 2.2rem;
		font-weight: 400;
	}

  .cnt-map {
    height: 400px;
    width: 100%;
    margin-bottom: 45px;
  }
  .cnt-contacta {
    a {
      display: inline-block;
      position: relative;
      color: $color-primary;

      &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $color-primary;
        transition: all 0.3s ease-out 0s;
      }

      &:hover {
        color: $color-primary;
        text-decoration: none;

        &:after {
          width: 100%;
        }
      }
    }
  }
}

#privacyModal {
  .modal-content {
    border: none;
    border-radius: 1px;
  }
  .modal-header {
    border-bottom: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0;
    .modal-title {
      font-family: $font-family-title;
      font-size: 2.5rem;
      line-height: 3rem;
      color: $color-black;
      font-weight: 400;
    }
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      display: block;
      height: 46px;
      width: 46px;
      font-size: 46px;
      line-height: 46px;
      text-align: center;
      color: $color-black;
      // border: 1px solid $color-black;
      // border-radius: 50%;
      cursor: pointer;
      padding-left: 1px;
    }
  }
  .modal-body {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    p,
    ul li {
      font-family: $font-family-base;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: $color-black;
      font-weight: 400;

      &.title {
        padding-top: 20px;
        font-family: $font-family-title;
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    a {
      color: $color-primary;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease-out 0s;

      &:hover {
        text-decoration: none;
        border-bottom-color: $color-primary
      }
    }
  }
  .modal-dialog {
    @media ( min-width: 576px ) and ( max-width: 1199px ) {
      max-width: 90%;
    }
  }
}
.modal-backdrop.fade.show {
  opacity: 0.5;
}
