.footer {
	height: 90px;
	padding-top: 28px;
	padding-bottom: 28px;

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}

	.footer__menu {
		text-align: right;

		ul.rrss {
			display: inline-block;
			height: 30px;
			margin: 0;
			margin-left: 30px;
			padding: 0;
			float: right;

			@media (max-width: $screen-xs-max) {
				display: block;
				padding: 10px 0;
				float: none;
				margin: 0;
			}
			li {
				display: inline-block;
				margin: 0;

				a {
					display: block;
					background-color: transparent;
					border: none;
					padding: 0 5px;
					outline: none !important;
					cursor: pointer;

					.icon {
						display: block;
						height: 30px;
						width: 30px;
						fill: $color-black;
						transition: fill 0.3s ease-out 0s;
					}

					&:hover {
						.icon {
							fill: $color-primary;
						}
					}
				}
				&:before {
					display: none;
				}
			}
		}

		&__link {
			display: inline-block;
			position: relative;
			text-align: center;
	    text-transform: uppercase;
	    font-family: $font-family-base;
	    font-weight: 800;
	    font-size: 1.4rem;
			line-height: 30px;
	    color: #202020;
			padding:0;
			margin-left: 10px;
			cursor: pointer;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 2px;
				left: 0;
				width: 0;
				height: 2px;
				background-color: $color-black;
				transition: all 0.3s ease-in-out 0s;
			}

			&:hover {
				text-decoration: none;
				&:after {
					width: 100%;
				}
			}
		}
	}
}
